<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Forgot your password?</h2>
  <p class="paw text-center"><b>We'll email a re-set link</b></p>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <div class="actions">
      <%= f.submit "Send me re-set password instructions", class: 'btn btn-primary', id: 'form-submit-btn' %>
    </div>
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
